@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;1,400&family=David+Libre:wght@400;500&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bodoni Moda', serif;
    font-weight: 400;
		
}

/*------------------------------Base Styles--------------------------------*/

/*Themes:
	Main Foggy Theme:
	--color-body: #b7bcd2;
  --color-greet: #514659;
  --color-card: #434455;
  
  Night Theme:
 --color-body: #30291f;
  --color-greet: #828b8c;
  --color-card: #8f978d;
  
  Blue Theme:
  	
		*/

:root {
  --color-body: #9ab6ca;
  --color-greet: #ceb4a4;
  --color-card: #b89d8c;
}

.nav{
	 width:100%;
	 background-color: rgba(70,70,70,0.6);
	 height: 40px;
	 position: fixed;
	 top: 0px;
	 padding: 5px;
	 text-align: left;
	 }
	 

#greeting{
		background-color: var(--color-greet);
		padding: 1em;
		margin-top: -7px;
	}
#banner{
		margin: 0;
		padding:0;
	}
	
	
.banner{
			width:100%;
			height: auto;
			opacity: 0.4;
			margin: 0;
			padding:0;
		}

.section-head{
			text-align: center;
			font-size: 1.4vmax;
			background-color: rgba(50,50,50,0.2);
			padding: 0.8em;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}
			
	 
.bg-color{
		background-color: var(--color-body);
	}
	
.wrapper-img{
		margin: 2vmax;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2vmax;
	}
	
.image{
		width: 100%;
		height: auto;
	}

.more{
		font-size: 1.4vmax;
		text-align: right;
		padding-right: 2vmax;
}

.wrapper-prev{
		margin: 2vmax;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2vmax;
	}


.preview-element{
		background-color:var(--color-card) ;
		width: auto;
	}
.prev-text{
		    text-align: justify;
		    font-size: 1.3vmax;
		    padding-top: 1vmax;
		    padding-right: 1vmax;
			padding-bottom: 1vmax;
		   }
.prev-link{
			display: grid;
			color: black;
		}
		
.prev-link:link{
					text-decoration: none;
					color: black;
				}	

.prev-link:hover{
					text-decoration: none;
					filter: brightness(0.6);
		}

.image-prev{
	width:40%;
	height: auto;
	float: left;
	padding-right: 1vmax;
	}

/*-----------------------------Media Queries----------------------------------*/


